@{
    ViewBag.Title = "¿Quiénes somos?";
}
<h2>@ViewBag.Title.</h2>

<div style="width:95%" align="center">
    <p class="MsoNormal" style="margin: 0cm 0cm 10pt; text-align: justify">
        <span lang="ES-CR" style="font-size: 11pt; font-family: Calibri">
            En el año de 1997 el
            señor Ernesto Alvarado recibe<span style="mso-spacerun: yes">&nbsp; </span>una invitación
            de parte del movimiento de la Renovación Carismática Católica, para recibir en Guadalajara
            México una escuela de formación denominada “DABAR”, el marco del primer seminario
            internacional de las Escuelas de Evangelización San Andrés.
        </span>
    </p>
    <p class="MsoNormal" style="margin: 0cm 0cm 10pt; text-align: justify">
        <span lang="ES-CR" style="font-size: 11pt; font-family: Calibri">
            No estaba en su mente
            el proyecto que Dios iniciaba y que tendría sus frutos en el año 2002, cuando motivado
            por el espíritu santo a una renovación del servicio apostólico brindado se encuentra
            nuevamente con las Escuelas de Evangelización San Andrés mediante su página de Internet
            obtenido una respuesta a sus diversas inquietudes y un plan de formación completamente
            renovado.
        </span>
    </p>
    <p class="MsoNormal" style="margin: 0cm 0cm 10pt; text-align: justify">
        <span lang="ES-CR" style="font-size: 11pt; font-family: Calibri">
            Con la alegría de aquel
            que encuentra la perla preciosa, va en la búsqueda de otros hermanos que mantenían
            la misma inquietud y es así como a partir de aquel año se da inicio a este Ministerio
            de Evangelización “DABAR” el cual toma su nombre de aquella experiencia del año
            1997 en Guadalajara.
        </span>
    </p>
    <p class="MsoNormal" style="margin: 0cm 0cm 10pt; text-align: justify">
        <span lang="ES-CR" style="font-size: 11pt; font-family: Calibri">
            Cabe mencionar que
            muchos de los anhelos de evangelización se logran por medio de la metodología inspirada
            por el espíritu santo en las Escuelas de Evangelización San Andrés, la que consideramos
            una respuesta de renovación ante las nuevas exigencias de los tiempos actuales.
        </span>
    </p>
</div>
