@{
    ViewBag.Title = "Contáctenos";
}
<h2>@ViewBag.Title.</h2>

<address>
    Cartago<br />
    Costa Rica<br />
    <abbr title="Phone">Tel:</abbr>
    
</address>

<address>
    <strong>Información:</strong>   <a href="mailto:info@eesacostarica.com">info@eesacostarica.com</a><br />    
</address>